@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Josefin+Sans&family=Lato&display=swap');


body {
    background: url("../img/cart_bg.jpg");
    background-size: cover;
}

.container{
    margin-top: 150px;
}


h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: 100;
    background-color: #082032;
    margin-bottom: 0;
}

.table thead{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
.table tbody{
    font-family: 'Inconsolata', monospace;
}

#button {
    margin: 0;
    position: relative;
    top: 30%;
    left: 45%;
}
